:root {
  --primary-color: #000000f1;
  --secondary-color: rgba(255, 255, 255, 0.925);

  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3,
h5 {
  font-size: 2.5rem;
}

p {
  opacity: 0.7;
  font-weight: 200;
}

body {
  background-color: var(--primary-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
}

.navbar-container {
  position: relative;
  height: 5em;
  width: 100vw;
}

.navbar {
  visibility: hidden;
  height: 0;
  width: 0;
}

.navbar__icon-container {
  position: fixed;
  height: 70px;
  width: 70px;
  top: 1em;
  right: 1em;
}

.navbar__icon {
  height: 100%;
  width: 100%;
}

.navbar__list__item {
  color: var(--primary-color);
}

.header__left-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text-container {
  width: 80%;
}

.header {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header p {
  margin-top: 0.7em;
  font-weight: 200;
}

.header__photo {
  width: 300px;
  height: 300px;
  border-radius: 20em;
  overflow: hidden;
  box-shadow: 0px 2px 24px rgba(255, 255, 255, 0.63);
}

.header__photo--myself {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__text {
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.header__icons {
  display: flex;
  justify-content: space-around;
  width: 330px;
  border: 0.3em solid white;
  border-radius: 2.5em;
  padding: 1.2em;
  margin-top: 2em;
}

.header__icon-container {
  width: 36px;
  height: 36px;
}

.header__icon-container img {
  width: 100%;
  height: 100%;
}

.hr {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hr hr {
  width: 90%;
  color: white;
}

.about-section {
  width: 100%;
}

.about {
  color: var(--secondary-color);
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about__text p {
  width: 90%;
}

.about__text-container {
  width: 100%;
  text-align: center;
}

.about__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__image {
  width: 330px;
  height: 330px;
  border-radius: 34% 66% 30% 70% / 75% 25% 75% 25%;
  overflow: hidden;
  box-shadow: 0px 2px 24px rgba(255, 255, 255, 0.63);
}

.about__image-container img {
  width: 100%;
  height: 100%;
}

.languages {
  width: 100%;
  margin-top: 3em;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.languages__text-desktop {
  visibility: hidden;
  width: 0;
  height: 0;
}

.languages_carousel {  
  padding: 0rem 3rem 0rem 3rem;
}

.languages__image-container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.languages__image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 36px rgb(41, 41, 41);
  border-radius: 6em;
  display: flex;
}

.languages__image-container img {
  height: 250px;
  width: 250px;
  border-radius: 6em;
  transition: translate 700ms ease-in-out;
  padding: 1em;
}

.languages__button {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  border-radius: 1em;
}

.languages__button:hover {
  background-color: rgba(58, 58, 58, 0.76);
}

.languages__button img {
  width: 100%;
  height: 100%;
}

.languages__button--primary {
  left: 0;
}

.languages__button--secondary {
  right: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  margin-top: 2em;
}

.contact__headline {
  font-size: 2.2em;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 200px;
  gap: 20px;
}

.contact__form input,
textarea {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.603);
}

.contact__form textarea {
  height: 10vh;
}

.contact__button {
  width: 125px;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 1em;
  margin-bottom: 2em;
  font-weight: 500;
}

@media only screen and (min-width: 460px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 1.3rem;
  }

  .header__photo {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .header__photo-container {
    grid-area: 1 / 2 / 3 / 3;
  }
  .header__left-grid {
    grid-area: 1 / 1 / 2 / 2;
  }

  .header__text {
    width: 80%;
  }

  .header > * {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__photo {
    height: 500px;
    width: 500px;
    border-radius: 50% 50% 57% 43% / 40% 53% 47% 60%;
  }

  .header__left-grid {
    justify-content: space-between;
  }

  .header__text-container {
    width: 100%;
  }

  .header__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .about__text-container {
    grid-area: 1 / 2 / 3 / 3;
  }
  .about__image-container {
    grid-area: 1 / 1 / 2 / 2;
  }

  .about > * {
    height: 100%;
    width: 100%;
  }

  .about__image {
    height: 400px;
    width: 400px;
  }

  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
  .languages__carousel { 
    grid-area: 1 / 2 / 3 / 3; 
    height: 100%;
    width: 100%;
  }
  .languages__text { 
    grid-area: 1 / 1 / 2 / 2; 
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
    gap: 2rem;
  } 

  .languages__text-desktop{
    visibility: visible;
    height: 100%;
    width: 100%;
  }

  .languages__image-container, .languages__image-container img{
    height: 300px;
    width: 300px;
    border: 1px solid white;
  }

  .languages__button{
    height: 60px;
    width: 60px;
  }

  .languages__button img{
    height: 100%;
    width: 100%;
  }
}
